h1{
	text-align: center;
}
button{
	margin-top: 400px;
    margin-left: 586px;
}
.square{
	text-align: center;
	padding: 0;
}
.board{
	border-spacing: 0px;
	position: absolute;
	left: 485px;
	top: 150px;
}
.one{
	border: 2px solid black;
	border-left: 0px;
	border-top: 0px;
	height: 6em;
	width: 6em;
	padding: 0;
}
.two{
	border: 2px solid black;
	border-top: 0px;
	height: 6em;
	width: 6em;
	padding: 0;
}
.three{
	border: 2px solid black;
	border-right: 0px;
	border-top: 0px;
	height: 6em;
	width: 6em;
	padding: 0;
}
.four{
	border: 2px solid black;
	border-left: 0px;
	height: 6em;
	width: 6em;
	padding: 0;
}
.five{
	border: 2px solid black;
	height: 6em;
	width: 6em;
	padding: 0;
}
.six{
	border: 2px solid black;
	border-right: 0px;
	height: 6em;
	width: 6em;
	padding: 0;
}
.seven{
	border: 2px solid black;
	border-left: 0px;
	border-bottom: 0px;
	height: 6em;
	width: 6em;
	padding: 0;
}
.eight{
	border: 2px solid black;
	border-bottom: 0px;
	height: 6em;
	width: 6em;
	padding: 0;
}
.nine{
	border: 2px solid black;
	border-right: 0px;
	border-bottom: 0px;
	height: 6em;
	width: 6em;
	padding: 0;
}